/* Stylesheet for the application */

Body {
    margin: 0;
    background: #FFF3DA;
}

/* Header Styling */
#Header {
    position: sticky;
    top: -20vh;
    left: 0;
    width: 100%;
    background: #D0BFFF; /* nicks own color scheme */
    /* background: #37195d; */ /* Original Color */
}

#Header > Div {
    display: flex;
    width:100%;
    text-align: center;
}

#Header > Div > Div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#HeaderLine1 {
    height:20vh;
}

#LogoDiv {
    margin-top: 0.5vh;
    margin-left:0.5vw;
    margin-bottom: 0;
    margin-right: calc(-20vh - 0.5vw);
}

#ItemsInBasked {
    background: #F00;
    position: relative;
    top: calc(-100% - 5px);
    font-size: 0.5em;
    width: 10px;
    height: 10px;
    margin: 0;
    padding: 2px;
    color: white;
}

#HeaderLine2 {
    height:4vh;
    justify-content: space-between;
    background: #DFCCFB;
    font-size: 1.5em;
}

#HeaderLine2 > Div > a{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

#KurvIkon {
    margin: 0.25vh 0.25vw;
    height: 100%;
}

#Header img {
    width: auto;
    height: auto;
    max-height: 100%;
}

.NavButton {
    margin: auto 8px;
}

/* Content Styling */

#Content p {
    white-space: pre-line;
}

/* General Styling */
.fullyRound {
    border-radius: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

a {
    display: contents;
    color: #37195d;
    text-decoration: none;
    font-weight: bold;
}

.whiteBackground {
    background: white;
}

#orderLineDiv > form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#orderLineDiv {
    text-align: center;
    border: white 5px solid;
    padding: 2rem;
    margin: 2vh auto; /* top/bot left/right */
    max-width: 32em;
    min-width: 40vw;
    background-color: #DFCCFB;
    border-radius: 2rem ;
    font-size: 1.4rem;
    border-collapse: collapse;
}

#orderLineForm table {
    border-collapse: collapse;
}

#orderLineForm table tr {
    border: solid;
    border-width: 0.1rem 0;
}


#orderLineForm tr:first-child {
    border-top: none;
}
#orderLineForm tr:last-child {
    border-bottom: none;
}

#submitOrderBtnForm {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#submitOrderBtnForm button[type=submit]{
    width: 10vw;
    height: 8vh;
    font-size: 1.4rem;
}

#sumText{
    border-top: black 0.1em solid;
    text-align: right;
}

h3{
    text-align: center;
}

#submitOrderBtnForm input[type=text]{
    width: 15vw;
    height: 10vh;
    margin-bottom: 1.5rem;
    text-align: start;

}

#Order {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

table {
    border-collapse: collapse;
}

.tableHeader {
    border-bottom: black 0.1em solid;
}