.order{
    display: flex;
    justify-content: center;
    flex-direction:column;
    text-align: center;
    border: white 5px solid;
    margin-top: 8vh;
    padding: 2rem;
    margin-right:14vw;
    margin-left:14vw;
    margin-bottom: 2vh;
    background-color: #DFCCFB;
    border-radius: 2rem ;
    font-size: 1.4rem;
    border-collapse: collapse;
}


.order tr {
    border: solid;
    border-width: 0.1rem 0;
}


.order tr:first-child {
    border-top: none;
}
.order tr:last-child {
    border-bottom: none;
}

hr {
    border: 0.1rem solid black;
}

.orderlinestat {
    display:flex;
}