
#loginBox{
    display: flex;
    justify-content: center;
    flex-direction:column;
    text-align: center;
    border: white 5px solid;
    margin-top: 8vh;
    padding: 2rem;
    margin-right:14vw;
    margin-left:14vw;
    margin-bottom: 12vh;
    background-color: #DFCCFB;
    border-radius: 2rem ;
}

#loginBox h1{
    margin-bottom: 2rem;
}

#loginBox input[type="email"]{
    width:20vw;
    height:3vh;
    font-size: 1.6rem;
    margin-bottom: 1rem ;
}

#loginBox input[type="password"]{
    width:16vw;
    height:3vh;
    font-size: 1.6rem;
    margin-bottom: 1rem ;
}

#ErrorMsg{
    color: red;
    font-size: 2.4rem;
}

#loginBtn{
    width: 4vw;
    height: 3vh;
}

#createAccountBtn{
    width: 14vw;
    height: 5vh;
    font-size: 1.8rem;
}