<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="da">

    <head>
        <title>Frontpage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../public/css/loginStyles.css" th:href="@{/css/loginStyles.css}" rel="stylesheet"/>
        <link href="../public/css/loginStyles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    </head>

    <body>
        <div ID="Header" class="HeaderSpace">
            <div ID="HeaderLine1">
                <a href="/" ID="LogoDiv">
                    <img ID="Logo" src="../public/images/OlskerLogo.png" th:src="@{/images/OlskerLogo.png}" alt="Olsker Cupcakes"/>
                </a>
                <div class="center">
                    <img ID="HeaderImage" src="../public/images/cupcakes.png" th:src="@{/images/cupcakes.png}" alt="Olsker Cupcakes"/>
                </div>
            </div>
            <div ID="HeaderLine2">
                <div ID="Nav">
                    <a href="/orders">
                        <div class="NavButton">
                            Ordre
                        </div>
                    </a>
                    <a href="/ordersAdmin" th:if="${session.active_user!=null && session.active_user.isAdmin()}">
                        <div class="NavButton">
                            Alle Ordre
                        </div>
                    </a>
                </div>
                <div ID="UserSpecifics">
                    <a href="/logout" th:unless="${session.active_user==null}">
                        <div class="NavButton" th:text="${session.active_user.email}"></div>
                    </a>
                    <a href="/login" th:if="${session.active_user==null}">
                        <div class="NavButton">
                            Login
                        </div>
                    </a>
                    <div id="KurvIkon">
                        <a href="/basket">
                            <img class="fullyRound whiteBackground" src="../public/images/kurv-ikon-360x360.png" th:src="@{/images/kurv-ikon-360x360.png}" alt="kurv"/>
                            <div class="fullyRound" ID="ItemsInBasket" th:if="${session.basket_orderlines!=null}" th:text="${session.basket_orderlines.size()}"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="Content">
            <form method="post" th:action="@{/adminInfoForUsers}">
                <label>Kunde:
                    <select name="selected_user" id="selected_user" onchange="this.form.submit()">
                    <option value="">Select User</option>
                    <option th:each="user : ${session.userlist}" th:value="${user.email}" th:text="${user.email}"
                            th:attrappend="selected = ${(session.admin_chosen_user != null && user.email == session.admin_chosen_user.getEmail()) ? 'selected' : null}"/>
                    </select>
                </label>
            </form>

            <div th:unless="${session.admin_chosen_user==null}">
                <p>kundeOrdrer</p>
                <form method="post" th:action="@{/select_order}">
                    <label>
                        <select id="orderSelect" name="selected_order" onchange="this.form.submit()">
                            <option th:each="order : ${session.orderlist}" th:value="${order.orderId}" th:text="${order.orderId}"
                                    th:attrappend="selected = ${(session.selected_order != null && order.orderId == session.selected_order) ? 'selected' : null}"
                            />
                        </select>
                    </label>
                    <button id="deleteOrderButton" type="submit" formaction="/deleteAnUserByUsingUserIdAndOrderId">delete order</button>
                </form>

                <!--<form method="post" th:action="@{/deleteAnUserByUsingUserIdAndOrderId}">
                    <input type="hidden" name="selectedOrder" th:value="${session.selected_order}">
                    <button id="deleteOrderButton" type="submit">delete order</button>
                </form>-->
                <p>indsæt penge</p>
                <form method="post" name="updateUserBalanceThing" th:action="@{/updateUseBalance}">
                    <input type="hidden" name="userEmail" th:value="${session.admin_chosen_user.email}">
                    <label for="money"></label><input type="number" id="money" name="updateBalance">
                    <input type="submit" value="money">
                </form>
            </div>
        </div>

    </body>

</html>
