<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Frontpage</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
  <link href="../static/css/basketStyles.css" th:href="@{/css/basketStyles.css}" rel="stylesheet"/>
</head>

<body>

<div ID="Header" class="HeaderSpace">
  <div ID="HeaderLine1">
    <a href="index.html" ID="LogoDiv">
      <img ID="Logo" src="../static/images/OlskerLogo.png" th:src="@{/images/OlskerLogo.png}" alt="Olsker Cupcakes"/>
    </a>
    <div class="center">
      <img ID="HeaderImage" src="../static/images/cupcakes.png" th:src="@{/images/cupcakes.png}" alt="Olsker Cupcakes"/>
    </div>
  </div>
  <div ID="HeaderLine2">
    <div ID="Nav">
      <a href="/orders">
        <div class="NavButton">
          Ordre
        </div>
      </a>
      <!--<a href="/kunder" th:if="${ctx.session.activeUser.isAdmin}">Kunder</a>-->
    </div>
    <div ID="UserSpecifics">
      <a href="/logout" th:unless="${session.active_user}==null" th:text="${session.active_user.email}"></a>
      <a href="/login" th:if="${session.active_user}==null">
        <div class="NavButton">
          Login
        </div>
      </a>
      <div id="KurvIkon">
        <a href="/basket">
          <img class="fullyRound whiteBackground" src="../static/images/kurv-ikon-360x360.png" th:src="@{/images/kurv-ikon-360x360.png}" alt="kurv"/>
          <div class="fullyRound" ID="ItemsInBasket" th:if="${session.basket_orderlines!=null}" th:text="${session.basket_orderlines.size()}"></div>
        </a>
      </div>


    </div>
  </div>
</div>
<div>

  <form id="orderLineForm" method="post" action="/delete_orderline">
    <table>
      <tr>
        <th>Top Name</th>
        <th>Bottom Name</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Action</th>
      </tr>
      <th:block th:unless="${session.basket_orderlines==null||session.basket_orderlines.isEmpty()}" th:each="orderline, iterStat : ${session.basket_orderlines}">
        <tr>
          <td th:text="${orderline.topName}"></td>
          <td th:text="${orderline.bottomName}"></td>
          <td th:text="${orderline.quantity}"></td>
          <td th:text="${orderline.totalPrice}"></td>
          <td>
            <button type="submit" name="deleteOrderLine" th:value="${iterStat.index}" th:id="'deleteOrderLine_' + ${iterStat.index}">
              Delete
            </button>
            <!-- th:value="${orderline}" -->
          </td>
        </tr>
      </th:block>
    </table>
  </form>
  <p th:text="${#ctx.message}"></p>
  <form method="post" action="/add_order">
    <button type="submit">Submit Order</button>
  </form>
</div>

</body>


</html>
