<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/loginStyles.css" th:href="@{/css/basketStyles.css}" rel="stylesheet"/>
</head>

<body>

<div ID="Header" class="HeaderSpace">
  <div ID="HeaderLine1">
    <a href="/index.html" ID="LogoDiv">
      <img ID="Logo" src="../public/images/OlskerLogo.png" alt="Olsker Cupcakes"/>
    </a>
    <div class="center">
      <img ID="HeaderImage" src="../public/images/cupcakes.png" alt="Olsker Cupcakes"/>
    </div>
  </div>
  <div ID="HeaderLine2">
    <div ID="Nav">
      <a href="/orders">
        <div class="NavButton">
          Ordre
        </div>
      </a>
      <!--<a href="/kunder" th:if="${ctx.session.activeUser.isAdmin}">Kunder</a>-->
    </div>
    <div ID="UserSpecifics">
      <a href="/logout" th:unless="${ctx.session.active_user.equals(null)}" th:text="${ctx.session.active_user.email}"></a>
      <a href="/login" th:if="${ctx.session.active_user==null}">
        <div class="NavButton">
          Login
        </div>
      </a>
      <div id="KurvIkon">
        <a href="/kurv">
          <img class="fullyRound whiteBackground" src="../public/images/kurv-ikon-360x360.png" alt="kurv"/>
          <div class="fullyRound" ID="ItemsInBasked" th:text="${ctx.session.basket_orderlines.count}" th:unless="${ctx.session.basket_orderlines.count == 0}">0</div>
        </a>
      </div>
    </div>
  </div>
</div>

<div>

</div>

</body>


</html>
