<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div ID="Header">
    <a href="index.html">
    <div class="imageDiv">
        <img ID="Logo" src="../public/images/OlskerLogo.png" alt="Olsker Cupcakes"/>
    </div>
    </a>
    <div class="imageDiv center">
        <img ID="HeaderImage" src="../public/images/cupcakes.png" alt="Olsker Cupcakes"/>
    </div>
</div>
<div ID="AfterHeaderSpace"></div>
<div ID="Content">
    <h1>Welcome to the Javalin / Thymeleaf demo</h1>

    <p>This is your first web application in this world</p>
</div>
</body>
</html>
