<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/ordreStyles.css" th:href="@{/css/ordreStyles.css}" rel="stylesheet"/>
</head>

<body>
    <div ID="Header" class="HeaderSpace">
        <div ID="HeaderLine1">
            <a href="/" ID="LogoDiv">
                <img ID="Logo" src="../public/images/OlskerLogo.png" th:src="@{/images/OlskerLogo.png}" alt="Olsker Cupcakes"/>
            </a>
            <div class="center">
                <img ID="HeaderImage" src="../public/images/cupcakes.png" th:src="@{/images/cupcakes.png}" alt="Olsker Cupcakes"/>
            </div>
        </div>
        <div ID="HeaderLine2">
            <div ID="Nav">
                <a href="/orders">
                    <div class="NavButton">
                        Ordre
                    </div>
                </a>
                <a href="/ordersAdmin" th:if="${session.active_user!=null && session.active_user.isAdmin()}">
                    <div class="NavButton">
                        Alle Ordre
                    </div>
                </a>
                <!--<a href="/kunder" th:if="${ctx.session.activeUser.isAdmin}">Kunder</a>-->
            </div>
            <div ID="UserSpecifics">
                <a href="/logout" th:unless="${session.active_user==null}">
                    <div class="NavButton" th:text="${session.active_user.email}"></div>
                </a>
                <a href="/login" th:if="${session.active_user==null}">
                    <div class="NavButton">
                        Login
                    </div>
                </a>
                <div id="KurvIkon">
                    <a href="/basket">
                        <img class="fullyRound whiteBackground" src="../public/images/kurv-ikon-360x360.png" th:src="@{/images/kurv-ikon-360x360.png}" alt="kurv"/>
                        <div class="fullyRound" ID="ItemsInBasket" th:if="${session.basket_orderlines!=null}" th:text="${session.basket_orderlines.size()}"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="Content">
        <div class="order" th:each="order : ${orders}">
            <div class="orderlinestat id: ">Order id: <span th:text="${order.getOrderId()}"></span></div>
            <div class="orderline" th:each="line : ${order.getOrderlines()}">
                <hr>
                <div class="orderlinestat Top">Top: <span th:text="${line.getTopName()}"></span></div>
                <div class="orderlinestat Bottom">Bottom: <span th:text="${line.getBottomName()}"></span></div>
                <div class="orderlinestat Quantity">Quantity: <span th:text="${line.getQuantity()}"></span></div>
                <div class="orderlinestat Price">Individual Price: <span th:text="${line.getTotalPrice()}"></span></div>
                <div class="orderlinestat TotalPrice">Total Price: <span th:text="${order.getTotalPrice()}"></span></div>
                <div class="orderlinestat status">Status: <span th:text="${order.getStatus()}"></span></div>
                <div class="orderlinestat note">Customer Note: <span th:text="${order.getNote()}"></span></div>
                <hr>
            </div>
        </div>
    </div>
    <div id="Notification">
        <p th:text="${message}"></p>
    </div>
</body>
</html>

