<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/loginStyles.css" th:href="@{/css/loginStyles.css}" rel="stylesheet"/>
</head>

<body>

<div ID="Header" class="HeaderSpace">
    <div ID="HeaderLine1">
        <a href="/index.html" ID="LogoDiv">
            <img ID="Logo" src="../public/images/OlskerLogo.png" alt="Olsker Cupcakes"/>
        </a>
        <div class="center">
            <img ID="HeaderImage" src="../public/images/cupcakes.png" alt="Olsker Cupcakes"/>
        </div>
    </div>
    <div ID="HeaderLine2">
        <div ID="Nav">
            <a href="/orders">
                <div class="NavButton">
                    Ordre
                </div>
            </a>
            <!--<a href="/kunder" th:if="${ctx.session.activeUser.isAdmin}">Kunder</a>-->
        </div>
        <div ID="UserSpecifics">
            <a href="/logout" th:unless="${ctx.session.active_user==null}" th:text="${ctx.session.active_user.email}"></a>
            <a href="/login" th:if="${ctx.session.active_user==null}">
                <div class="NavButton">
                    Login
                </div>
            </a>
            <div id="KurvIkon">
                <a href="/kurv">
                    <img class="fullyRound whiteBackground" src="../public/images/kurv-ikon-360x360.png" alt="kurv"/>
                    <div class="fullyRound" ID="ItemsInBasked" th:text="${ctx.session.basket_orderlines.count}" th:unless="${ctx.session.basket_orderlines.count == 0}">0</div>
                </a>
            </div>
        </div>
    </div>
</div>


<div id="loginBox">
    <h1>Account Registration:</h1>
    <form id="loginForm" method="post">
        <label for="email">E-mail:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="rpt_password">Repeat Password:</label><br>
        <input type="password" id="rpt_password" name="rpt_password"><br>
        <input type="button" formaction="login" value="Create Account"><br><br>
    </form>

    <form method="get">
        <label>Are you a customer already? Login here and start ordering today:</label>
        <input type="button" formaction="login_screen" value="Login">
    </form>
</div>

</body>
</html>
